/*RESET*/
body{
    overflow-x: hidden;
}
body, figure{
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
a{
    color:inherit;
    text-decoration: none;
}

/*HEADER*/
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    margin-bottom: 50px;
    color: #4E4D4D;
}
.logo, .logo img{
    height: 100%;
    margin-left: 50px;
}

.menu{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 100px 0px 0px 50px;
}
.menu nav{
    margin-right: 10px;
}

.menu a{
    text-align: left;
    font-size: 12px;
    font-weight: bold;
}
.menu p{
    width: 100%;
    text-align: left;
    font-size: 12px;
}

.icons{
    width: 10%;
    display: flex;
    margin-top: 100px;
    margin-left: 5px;   
}
.icons img{
    height: 15px;
    margin-left: 10px;
}
.traduzir{
    width: 5%;
    margin: 100px 50px 0px 0px;
}
.mobile{
    display: none;
}

/*HERO*/
.hero, .hero img{
    width: 100%;
}


/*COUNTDOWN*/
.countdown{
    width: 100%;
    padding: 50px 0px;
}
.countdown-content{
    margin: 0px auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border: 3px solid #DC0410;
    border-radius: 10px;
}
.countdown-item{
    display: block;
    padding: 30px;
}
.countdown-item h2{
    margin-bottom: 0px;
    text-align: center;
    font-size: 35px;
    background-image: linear-gradient(to bottom, rgb(220 4 16), rgb(118 2 9));
    -webkit-background-clip: text; background-clip: text;-webkit-text-fill-color: transparent;
}
.countdown-item p{
    text-align: center;
    font-size: 20px;
}

/*INFO*/
.info{
    width: 100%;
    align-items: center;
    padding: 150px 0px;
    border:3px dashed #DC0410;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.texto{
    width: 35%;
    text-align : left;
    padding-left:50px;
}
.texto h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}
.texto p{
    font-size: 18px;
    line-height: 1.5;
    width: 100%;
}

.win{
    width: 50%;
    padding-right:50px;
}
.input-element{
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 0px 15px 15px;
    margin-bottom: 10px;
    border: 3px solid #DC0410;
    border-radius: 10px;
    text-align: left;
    
}
.btn{
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(220 4 16), rgb(118 2 9));
    color: #ffffff;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
}

/*PROGRAMA*/
.programacao{
    padding: 50px 0px;
    width: 100%;
    background-image: url('../images/evento.jpg');
    background-size: cover;
}
.programacao-titulo{
    margin-bottom: 50px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 5px #000000;
}
.programacao-content{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.programacao-item h3{
    text-align: center;
    max-width: 100%;
    font-size: 20px;
    margin: 0px;
}
.programacao-item h4{
    margin: 10px 10px;
    font-size: 16px;
    font-weight: lighter;
}
.programacao-item p{
    text-align: left;
    width: 100%;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.programacao-item nav{
    display: flex;
    margin: 0px 30px;
    width: 100%;
}

.programacao-item{
    margin: 0px 50px;
    width: 20%;
    padding: 35px;
    background-color: #ffffff;
    border: 3px solid #DC0410;
    border-radius: 35px;
}


/*APOIOS*/
.apoio{
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(220 4 16), rgb(118 2 9));
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}
.apoio img{
    height: 50px;
    margin: 0px 50px; 
}

/*SOBRE*/
.sobre{
    padding: 150px 0px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.sobre div{
    margin-left: 50px;
    display: block;
    width: 65%;
}
.sobre h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}
.sobre p{
    font-size: 18px;
    line-height: 1.5;
    width: 100%;
}
.sobre img{
    margin-right: 50px;
}

/*FOOTER*/
.footer{
    width: 100%;
    align-items: center;
    font-size: 15px;
    background-color: #7f7f7f;
    padding: 50px 0px;
    color: #ffffff;
}
.footer nav{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 50px 50px;
}
.footer section{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.footer-politica a, p{
    display: block;
    margin-bottom: 10px;
}
.footer-direcao{
    display: block;
}
.footer-direcao h3{
    
    margin: 0px;
}
.footer-direcao p{
    margin-bottom: 5px;
}
.footer-contacto{
    display: block;
}
.footer-contacto nav h4{
    font-weight: bold;
    margin: 0px;
    text-align: left;
}
.footer-contacto nav p{
    margin: 0px;
    text-align: left;
}


/*ADAPTADO PARA TABLET 768px*/

@media only screen and (max-width: 768px){
/*HEADER TABLET*/
header{
    width: 100%;
    align-items: center;
    display: flex;
    margin: 0px;
    padding:20px 20px;
}
.logo{
    margin: 0px;

}
.logo img{
    margin:0px;
    width: 30%;
}
.menu{
    margin: 0px 50px 0px 0px;
    width: 100%;
    
}
.menu p{
    display: none;
}
.menu nav{
    margin: 0px 5px;
    
}
.icons, .traduzir{
    display: none;
}
.mobile{
    display: flex;
    margin-right: 50px;
}
.mobile img{
    margin-right: 10px;
    margin-left: 10px;
}

.mobile{
    display: flex;
    margin-right: 50px;
}
.mobile img{
    margin-right: 10px;
    margin-left: 10px;
}


/*HERO TABLET*/
.hero img{
    width: 100%;
}

/*COUNTDOWN TABLET*/
.countdown{
    width: 100%;
    padding: 50px 0px;
}
.countdown-item h2{
    font-size: 28px;
}
.countdown-item p{
    font-size: 16px;
}

/*INFO TABLET*/
.info{
    width: 100%;
    flex-direction: column;
    padding: 50px;
}
.texto{
    margin-bottom: 50px;
}
.texto, .win{
    width: 100%;
    padding: 0px;
    text-align: center;
}
.texto h2{
    margin: 0px 0px 10px 0px;
}
.texto p{
    font-size: 16px;
    margin: 0px;
}
.input-element{
    font-size: 12px;
}
.btn{
    font-size: 14px;
}

/*PROGRAMAÇÃO TABLET*/
.programacao{
    width: 100%;
}
.programacao-titulo{
    margin-bottom: 20px;
}
.programacao-content{
    flex-direction: column;
    align-items: center;
}   
.programacao-item{
    width: 90%;
    margin: 0px 0px 20px 0px;
    padding: 20px;
}
.programacao-item div{
    margin-bottom: 20px;
}
.programacao-item nav{
    margin: 0px;
    justify-content: center;
}
.programacao-item h3{
    font-size: 18px;
}
.programacao-item h4{
    font-size: 14px;
}
.programacao-item p{
    font-size: 16px;
    margin: 0px 0px 10px 0px;
}

/*APOIO TABLET*/
.apoio img{
    height: 30px;
}

/*SOBRE TABLET*/
.sobre{
    width: 100%;
    align-items: center;
    width: 100%;
    padding: 50px 0px;    
}
.sobre div{
    margin-bottom: 0px;
    width: 100%;
}
.sobre h2{
    font-size: 22px;
    margin: 0px 0px 10px 0px;
}
.sobre p{
    width: 100%;
    font-size: 16px;
    margin: 0px;
}
.sobre img{
    display: none;
}

/*FOOTER TABLET*/
.footer{
    width: 100%;
    padding: 20px 0px;
}
.footer nav{
    margin: 0px 20px 20px 20px;
    font-size: 12px;
}
.footer section{
    margin: 0px;
}
.footer-politica{
    margin-left: 20px;
    font-size: 10px;
}
.footer-contacto{
    margin-right: 20px;
    font-size: 10px;
}
.footer-direcao p{
    font-size: 10px;
}
.footer-direcao h3{
    font-size: 14px;
}
}


/*ADAPTADO PARA MOBILE 480px*/

@media only screen and (max-width: 480px){
/*HEADER MOBILE*/

header{
    width: 100%;
    align-items: center;
    display: flex;
    margin: 0px;
    padding:20px 20px;
}
.logo{
    margin: 0px;

}
.logo img{
    margin:0px;
    width: 60%;
}
.menu{
    display: none;   
}
.mobile{
    display: flex;
    margin-right: 50px;
}
.mobile img{
    margin-right: 10px;
    margin-left: 10px;
}


/*HERO MOBILE*/
.hero img{
    width: 100%;
}

/*COUNTDOWN MOBILE*/
.countdown{
    width: 100%;
    padding: 50px 0px;
}
.countdown-item{
    padding: 0px 10px;
}
.countdown-item h2{
    font-size: 24px;
}
.countdown-item p{
    font-size: 12px;
}

/*INFO MOBILE*/
.info{
    width: 100%;
    flex-direction: column;
    padding: 50px;
}
.texto{
    margin-bottom: 50px;
}
.texto, .win{
    width: 100%;
    padding: 0px;
    text-align: center;
}
.texto h2{
    margin: 0px 0px 10px 0px;
}
.texto p{
    font-size: 16px;
    margin: 0px;
}
.input-element{
    font-size: 12px;
}
.btn{
    font-size: 14px;
}

/*PROGRAMAÇÃO MOBILE*/
.programacao{
    width: 100%;
    padding: 50px 0px;
}
.programacao-titulo{
    margin-bottom: 20px;
}
.programacao-content{
    flex-direction: column;
    align-items: center;
}   
.programacao-item{
    width: 90%;
    margin: 0px 0px 20px 0px;
    padding: 20px 0px;
}
.programacao-item div{
    margin-bottom: 20px;
}
.programacao-item nav{
    margin: 0px;
    justify-content: center;
}
.programacao-item h3{
    font-size: 18px;
}
.programacao-item h4{
    font-size: 14px;
}
.programacao-item p{
    font-size: 14px;
    margin: 0px 0px 10px 0px;
    padding: 0px 10px;
}

/*APOIO MOBILE*/
.apoio img{
    height: 30px;
    margin: 0px 20px;
}

/*SOBRE MOBILE*/
.sobre{
    width: 100%;
    align-items: center;
    width: 100%;
    padding: 50px 0px;    
}
.sobre div{
    margin-bottom: 0px;
    width: 100%;
    margin-left: 20px;
}
.sobre h2{
    font-size: 18px;
    margin: 0px 0px 10px 0px;
}
.sobre p{
    width: 100%;
    font-size: 14px;
    margin: 0px;
}
.sobre img{
    display: none;
}

/*FOOTER MOBILE*/
.footer{
    width: 100%;
    padding: 20px 0px;
}
.footer nav{
    margin: 0px 20px 20px 20px;
    font-size: 12px;
}
.footer section{
    margin: 0px 20px;
}
.footer-contacto, .footer-direcao, .footer-politica{
    margin: 0px 5px;
}
.footer-politica{
    font-size: 10px;
}
.footer-contacto{
    font-size: 10px;
}
.footer-direcao p{
    font-size: 8px;
}
.footer-direcao h3{
    font-size: 10px;
}
}

